{% extends 'Navbar/employernavbar.html'%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Home page</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom styles here */
    </style>
</head>
<body>
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <!-- Replace 'path/to/your/image.jpg' with the actual path to your image -->
                <img src="{% static 'images/ph-3.jpg' %}" class="img-fluid mx-auto d-block" alt="Company Image" style="width: 10000px; height: auto;">
                <p class="mt-3"><h1>Student Home Page</h1></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
